.homeBody {
  background-image: url(./img/RevSlider-V1.jpg);
  color: white;
  height: 100vh;
}

.topnav {
  background-color: white;
  padding: 20px;
}

.registerText{
  color:white;
  padding-right: 2em;
  /* margin-bottom: 2em; */

}



.tcgLogo {
  display: block;
  margin: auto;
  padding: 30px;
  height: 20rem;
}

.headerContainer {
  align-self: center;
  line-height: 4rem;
  margin: 0rem;
  text-align: center;
  margin-bottom: 0.3px;
}
.header {
  font-size: 8rem;
  text-align: center;
  font-weight: normal;
  letter-spacing: 1.8;

}
.headerMedium {
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
}
h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subHeaderContainer {
  display: block;
  text-align: center;
  line-height: 2rem;
  width: 35%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

.subHeader {
  background-color: white;
  text-align: center;
  width: 100%;
  letter-spacing: 0.2rem;
  align-self: center;
  padding: 10px;
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 0.3rem;
  margin-top: 0rem;
  color: rgb(4, 61, 9);
  letter-spacing: 0.2rem;
}
h2 {
  font-weight: normal;
  margin: 1.2rem;
  font-size: 1.5rem;
}
